__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/
*.log
checkpoints/
cache/
data/polymarket_graphs/
data/polymarket_link_pred/
*.pt
*.pkl
.DS_Store
.ipynb_checkpoints/
data.history
.env 
**/*.pkl
**/*.parquet